n8n_workflow.json
{
  "id": "4CCLNbj0pxRYJK0c",
  "name": "Intercom 播放",
  "description": "Flask回调：接收{entity,url,duration} → HA播放 → Wait播完",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intercom/play",
        "responseMode": "onReceived",
        "options": {
          "noResponseBody": false
        }
      },
      "name": "Intercom Play",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "media_player",
        "service": "play_media",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "={{ $json.body.entity }}"
            },
            {
              "name": "media_content_id",
              "value": "={{ $json.body.url }}"
            },
            {
              "name": "media_content_type",
              "value": "music"
            }
          ]
        }
      },
      "name": "播放到音箱",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ Math.ceil($('Intercom Play').item.json.body.duration) + 1 }}",
        "unit": "seconds"
      },
      "name": "等待播完",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        840,
        300
      ]
    }
  ],
  "connections": {
    "Intercom Play": {
      "main": [
        [
          {
            "node": "播放到音箱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "播放到音箱": {
      "main": [
        [
          {
            "node": "等待播完",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}