n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intercom/play",
        "options": {
          "noResponseBody": false
        }
      },
      "name": "Intercom Play",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        72
      ]
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "media_player",
        "service": "play_media",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "={{ $json.body.entity }}"
            },
            {
              "name": "media_content_id",
              "value": "={{ $json.body.url }}"
            },
            {
              "name": "media_content_type",
              "value": "music"
            }
          ]
        }
      },
      "name": "播放到音箱",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        224,
        72
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('Intercom Play').item.json.body.duration }}"
      },
      "name": "等待播完",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        72
      ]
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "media_player",
        "service": "media_pause",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "={{ $('Intercom Play').item.json.body.entity }}"
            }
          ]
        }
      },
      "name": "Pause",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        672,
        72
      ]
    },
    {
      "parameters": {
        "resource": "state",
        "entityId": "={{ $('Intercom Play').item.json.body.entity }}"
      },
      "name": "Get a state",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b9d3234e-e99f-452d-a980-54c303c78126",
              "leftValue": "={{ $json.state }}",
              "rightValue": "playing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        72
      ]
    }
  ],
  "connections": {
    "Intercom Play": {
      "main": [
        [
          {
            "node": "播放到音箱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "播放到音箱": {
      "main": [
        [
          {
            "node": "等待播完",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待播完": {
      "main": [
        [
          {
            "node": "Pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause": {
      "main": [
        [
          {
            "node": "Get a state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a state": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}